<div class="container">
  <div class="row">
    <div class="col-12">
      <input class="search-box" type="text" placeholder="Search Title or Artist">
    </div>
  </div>

  <div class="row">
    <div class="top-10-heading col-12">
      Top 10
    </div>
    <div class="music-row">
      <div class="music-col" *ngFor="let song of topSongs">
        <app-song-container [metaData]="song"></app-song-container>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="top-10-heading col-12">
      Your Favourites
    </div>
    <div class="music-row">
      <div class="music-col" *ngFor="let fav of favourites">
        <app-song-container [metaData]="fav"></app-song-container>
      </div>
    </div>
  </div>
    
</div>
