.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
}

.player-container {
  width: 30vw;
  height: 90vh;
  border-right: 1px solid var(--border);
}

.nav-container {
  width: 70vw;
  height: 90vh;
  /* border-left: 1px solid var(--border); */
}

header {
  height: 10vh;
}
